body {
  font-family: sans-serif;
  background: #c21414;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: rgb(188, 30, 30);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
}
button {
  background: #007bff;
  color: rgb(157, 7, 7);
  border: none;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
